#loginModal{
 
  background-color: #eee; 
}
/*
#loginModal{
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-30%);
  -moz-transform:  translateY(-30%);
  -ms-transform:  translateY(-30%);
  -o-transform:  translateY(-30%);
  transform:  translateY(-30%);
  background-color: #eee; 
}
*/